{# src/Cvut/Fit/BiWt1/PollBundle/Resources/views/Page/choiceQuestion.html.twig #}
{% extends 'PollBundle::layout.html.twig' %}

{% block title %}{{ type|capitalize }} Choice Question{% endblock%}

{% block body %}
    <header>
        <h1>
        Create a {{ type }} choice question
        </h1>
    </header>

    <p>Write the question:</p>
    <form action="{{ path('PollBundle_choiceQuestion', { 'id' : app.request.get('id') , 'type' : app.request.get('type') }) }}" method="post" {{ form_enctype(form) }} class="blogger">
        {{ form_errors(form) }}

        {{ form_row(form.question, {'label' : 'Question*'}) }}
        <p>Write each option on a separate line:<p>
        {{ form_row(form.options, {'label' : 'Options*'}) }}


        {{ form_rest(form) }}

    <input class="blogger1" type="submit" value="Add" />
    </form>
{% endblock %}

{% block sidebar %}
    <p class="links"> <a href="{{ path('PollBundle_createSurvey') }}">Back to survey</a> </p>
{% endblock %}